*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
        
}
body{
    width: 100%;
    height: 100vh;
}

/* Navebar */

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 50px;
    height: 80px;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#logo-container p{
    font-size: 25px;
    font-weight: bolder;
    color: white;
}
#logo-container p::first-letter{
    color: orange;
    font-size: 30px;
}
nav ul{
    display: flex;
    list-style: none;
    margin-left: 30px;
    margin-top: 15px;
}


nav ul li a{
    text-decoration: none;
    font-size: 19px;
    font-weight: bolder;
    color: white;
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}

/* Header */

header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)) ,url("./image/background.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
}
.head-info{
    text-align: center;
    margin-top: 100px;
    color: white;
}
.head-info p{
    color: lightgray;
    margin-top: 15px;
}

/* Contact Section */

.contact-container{
    padding:50px;
    display: flex;
    justify-content:space-between;
    height: 590px;
}

.contact{
    padding: 50px 40px 40px 40px;
    background-color: #1d232c;
    color: white;
    width: 100%;
    height: 500px;
}
.contact input{
    width: 95%;
    height: 50px;
    border-radius: 5px;
    padding-left: 15px;

}
.contact input:focus{
    outline: none;
}
.contact textarea{
    width: 95%;
    border-radius: 5px;
    padding: 15px;
    height: 100px;
}
.contact textarea:focus{
    outline: none;
}
.contact button{
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgba(30, 93, 228, 0.892);
    font-weight: bold;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}
.contact button:active{
    scale: 0.9;
}

/* Map */
.map-container{
    width: 100%;
    height:  500px;
    text-align: center;
}
.map-container iframe{
    height: 100%;
    width: 100%;
}
/* Footer */
footer{
    padding: 50px;
    color: #f2f4f7;
    background-color: #1d232c;
    margin-top: 20px;
  
}
footer h1{
    font-weight: bolder;
}

.social-icon{
    display: flex;
    column-gap: 15px;
}
.social-icon a{
    color: #f2f4f7;
}


