*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
        
}
body{
    height: 100vh;
    background-image: url(./image/white-reading-lamp-colorful-books.jpg);
    background-position: center;
    background-size: cover;
}
/* Navebar */

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 50px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#logo-container p{
    font-size: 25px;
    font-weight: bolder;
    color: black;
}
#logo-container p::first-letter{
    color: orange;
    font-size: 30px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    margin-top: 15px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: bolder;
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}



/* Form */
#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 80%;
}

.form-box{
position: relative;
width: 420px;
background-color:transparent;
border: 2px solid rgba(255,255,255,0.2) ;
backdrop-filter:blur(20px);
box-shadow: 0 0 10px rgba(0,0,0,.2);
color: rgb(0, 0, 0);
border-radius: 10px;
padding: 30px 40px;
}

.form-box h1{
font-size: 36x;
text-align: center;
}

.form-box .input-box {
width: 100%;
height: 50px;
margin: 30px 0px;
}

.input-box input{
width: 100%;
height: 100%;
background: transparent;
border: 2px solid rgba(0, 0, 0, 0.2);
border-radius: 40px;
font-size: 16px;
color: rgb(0, 0, 0);
padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
color: rgb(0, 0, 0);

}

.input-box i {
position: absolute;
right: 54px;
transform: translateY(80%) ;
font-size: 20px;
}

.form-box .btn {
width: 100%;
height: 45px;
background:#007bff;
border: none;
outline: none;
border-radius: 40px;
box-shadow: 0 0 10px rgba(0,0,0,.1);
cursor: pointer;
font-size: 16px;
color:white;
font-weight: 600;
}

#message-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}
#message-container p{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

/* Footer */
footer{
    padding: 50px;
    color: #f2f4f7;
    background-color: #1d232c;
    margin-top: 20px;
  
}
footer h1{
    font-weight: bolder;
}

.social-icon{
    display: flex;
    column-gap: 15px;
}
.social-icon a{
    color: #f2f4f7;
}