
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;    
}

body{
    height: 100vh;
}

/* Navebar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#logo-container p{
    font-size: 25px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
#logo-container p::first-letter{
    color: orange;
    font-size: 30px;
}
.navebar-menu-toggle{
    font-size: 2.2rem;
    padding-top: 15px;
}

.navebar-link a:hover{
    text-decoration: underline;
}

.fa-bars{
    cursor: pointer;
}
.fa-bars:active{
    scale: 0.9;
}

/* Side Navebar */

.side-navebar{
    width: 20%;
    height: 100%;
    background-color:#1d232c;
    position: fixed;
    top: 0;
    right: -60%;
    padding: 20px;
    color: white;
    transition: 1s;
    margin: 0;
    z-index: 5;
}

.side-navebar p{
    text-align: right;
    font-size: 2rem;
}
.fa-xmark{
    cursor: pointer;
}
.fa-xmark:active{
    scale: 0.9;
}

.side-navebar-links{
    list-style: none;
}
.side-navebar-link{
    margin-bottom: 30px;
}
.side-navebar-link a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}
a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
a:hover::after{
    width: 100%;
}
.logout > a{
    color: red;
}

/* Form */

#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
#sub-container{
    display: flex;
    justify-content: center;
    gap: 100px;
}
section {
    margin-bottom: 2rem;
}

#main-container  h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    color: #007bff;
    letter-spacing: 2px;

}
#course-offerings{
  margin: auto;  
  background-color: rgb(211, 220, 238);
  padding: 30px 50px 50px 50px;
  border-radius: 20px;
  width: 750px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

label {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-style: normal; 
}
table{
    width: 90%;
    border-spacing: 15px;
}
input , select{
    width: 117%;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 25px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
input:focus{
    border-color: #007bff;
    outline: none;
}
#button-container{
    display: flex;
    gap: 15px;
}

.main-btn {
    padding:9px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    font-size: 19px;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
}

.main-btn:hover {
    background-color: #0056b3;
}

#course-offerings > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 25px;
}
#course-offerings > div >p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

#course-offerings-message{
    color: green;
}

.img-container img{
    width: 500px;
    object-fit:fill;
}


/* Popup box */

.overlay{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    display: none;
}

.popupbox{
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 85%;
    height: 75%;
    border-radius: 10px;
    left: 8%;
    padding: 20px;
    top: 10%;
    background-color: rgb(238, 235, 235);
    display: none;
   
}
#heading-container{
    display: flex;
    gap: 10px;
}
#heading-container > h1::first-letter {
    color:orange;
    font-size: larger;
}
#table-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    overflow: auto;
    scrollbar-width: none;
    height: 85%;
}

#table-container  table{
    height: 50px;
    border-spacing: 15px;

}
#table-container  table  tr:hover{
    background-color: lightgrey;
}
th{
    border:2px solid black;
    border-radius: 2px;
}
#table-container  table td{
   border-bottom: 2px solid black;
   text-align: center;
}
.action-btn{
    margin-bottom: 5px;
    margin: 5px;
    font-weight: bold;
    width: auto;
    padding: 2px;
    border:1px solid black;
    border-radius: 4px;
    outline: none;
}
.btn2:hover{
    color: white;
    background-color: red;
}
.btn2{
    color: red;
}
.action-btn:active{
    scale: 0.95;
}

#course-offerings-message-2{
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    font-size: 25px;
    font-weight: bolder;
}