*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #dfe9f5;
}
.container{
  display: flex;
}
nav{
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #fff;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.DashBoard{
  margin: 4px 0 25px 30px;
}
.DashBoard span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
  cursor: pointer;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #eee;
}
.logout{
  position: absolute;
  bottom: 0;
}

/* Main Section */
.main{
  position: relative;
  padding: 20px 20px 20px 50px;
  width: 100%;
}
.logo-container{
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  align-items: center;
}

.fa-bell:hover{
 rotate: 30deg;
}
.fa-bell:active{
  scale: 0.9;
}
.main-top{
  display: flex;
  width: 100%;
  gap: 15px;
}

.main-top h1{
  font-size: 30px;
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main-skills{
  display: flex;
  margin-top: 20px;
}
.main-skills .card{
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px 10px 30px 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .card:hover{
  scale: 0.95;
}
.main-skills .card h3{
  margin: 10px;
  text-transform: capitalize;
}
.main-skills .card p{
  font-size: 12px;
}
.main-skills .card i{
  font-size: 22px;
  padding: 10px;
}
.greeting{
  color: #0056b3;
}

/* Courses */
.main-course{
  margin-top:20px ;
}
.main-course h1{
  font-size: 30px;
}
.course-box{
  width: 410px;
  height: 200px;
  padding: 20px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.course-box ul{
  list-style: none;
}
.course-box ul li{
  margin: 10px;
  color: gray;
}
.course-box ul .active{
  color: #000;
  border-bottom: 1px solid #000;
}
.course-box .course{
  display: flex;
}
.box{
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: rgb(235, 233, 233);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.box h3{
  text-transform: uppercase;
}
.box p{
  font-size: 12px;
  margin-top: 5px;
}

.box i{
  font-size: 7rem;
  float: right;
  margin: -20px 20px 20px 0;
}


/* Payment History */
.main-payment{
  margin-top:20px ;
}
.main-payment h1{
  font-size: 30px;
}
.payment-box{
  width: 410px;
  height: 200px;
  padding: 20px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  line-height: 30px;
}

.heading {
  display: flex;
  gap: 10px;
}
.heading h1::first-letter{
  color: orange;
}

.row{
  display: flex;
  gap: 50px;
  height: 500px;
}

.col1 img{
  width: 600px;
  margin-left: 100px;
  margin-top: 100px;
}


/* Personal Information */
#profile-container .row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  gap: 100px;
}

#profile-container .heading{
  font-size: 30px;
}

.profile-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 147%;
}

#profile-form {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

input:disabled {
  background-color: #e9ecef;
  color: #6c757d;
}

#button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.main-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-grow: 1;
  margin-right: 10px;
}

.main-btn:last-child {
  margin-right: 0;
}

.main-btn:hover {
  background-color: #0056b3;
}

#Cancel-button {
  background-color: rgb(198, 57, 57);
  display: none;
}

#Cancel-button:hover {
  background-color: rgb(150, 28, 28);
}

#save-button{
display: none;
}

/* Password Change */

#password-container .row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  gap: 100px;
}

.password-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 120%;
}

#password-container .heading{
  font-size: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

#button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.main-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main-btn:hover {
  background-color: #0056b3;
}


/* Popup box */

.overlay{
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  display: none;
}

.popupbox{
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: black;
  width: 40%;
  height: 60%;
  border-radius: 10px;
  left: 50%;
  padding: 20px;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(238, 235, 235);
  display: none;
}

#heading-container > h1::first-letter {
  color:orange;
  font-size: larger;
}

#notification-container{
  height: 80%;
  overflow: auto;
  scrollbar-width: none;
}
.reminder{
  margin-top: 8px;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reminder:hover{
  scale: 0.98;
}
.fa-circle-xmark{
  font-size: 25px;
  cursor: pointer;
  padding: 0px 0px 0px 5px;
}
.fa-circle-xmark:hover{
  color: red;
}

.fa-circle-xmark:active{
  scale: 0.95;
}



/* Notification Bell */
.notification{
  position: relative;
}

.fa-circle{
  position: absolute;
  color:red;
  right: 30px;
  font-size: 20px;
}

.fa-bell{
  font-size: 40px;
}


/* Profile Picture */
.profilepic-container{
  display: flex;
  justify-content: center;
}
.profile-picture{
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
}


/* History */

.history-table-container {
  display: flex;
  justify-content: space-between; 
  margin: 20px; 
}

.course-table, .payment-table {
  flex: 1; 
  margin: 0 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

.history-table {
  width: 100%; 
  border-collapse: collapse; 
}

.history-table th {
  padding: 10px; 
  text-align: left; 
  border-bottom: 1px solid #ddd; 
}

.history-table td {
  padding: 10px; 
  text-align: left; 
  border-bottom: 1px solid #ddd; 
}

.history-table th {
  background-color: #f4f4f4; 
  font-weight: bold; 
}

.history-table tbody tr:hover {
  background-color: #f1f1f1; 
}

/* Update Profile Picture */

.profile-pic-update-form{
  background-color: white;
  padding: 25px;
  border-radius: 8px;
}

.delete-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #ff0040;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-grow: 1;
  margin-right: 10px;
}

.delete-btn:last-child {
  margin-right: 0;
}

.delete-btn:hover {
  background-color: #900024;
}

.profilePic-Update{
  margin-bottom: 20px;
}